body{
    padding: 48px;
    background-color: rgb(201, 246, 249);
}
.container{
    display: grid; /* Esto habilita el comportamiento de grid de este container */

    grid-template-columns: repeat(3,1fr); /* Esto define el ancho de las columnas*/
    grid-template-rows:  repeat(3,1fr); /* Esto define el alto de cada fila */

    grid-auto-flow: row;/* Es el valor por default */
    grid-auto-flow: column; /* Este valor cambia flujo a columnas */

    /* Esto no es de grid */
    direction: rtl;


    background-color: rgb(62, 255, 200);
    width: 500px;
    height: 500px;
    margin: 0 auto;

    gap: 24px; /* Define el esacio entre filas y columnas */
    /*  
    row-gap: 50px; Espacio entre filas
    column-gap: 25px; Espacio entre columnas
    */

    

}

.a{
    background-color: blue;
}
.b{
    background-color: blueviolet;
}
.c{
    background-color: chocolate;
}
.d{
    background-color: crimson;
}
.e{
    background-color: darkcyan;
}

.container div{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
