body{
    padding: 48px;
    background-color: rgb(201, 246, 249);
}
.container{
    display: grid; /* Esto habilita el comportamiento de grid de este container */

    grid-template-columns: repeat(6,1fr); /* Esto define el ancho de las columnas*/
    grid-template-rows:  1fr 2fr; /* Esto define el alto de cada fila */


    background-color: pink;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.item{
    background-color: blueviolet;
}